<% title "Services" %>

<table width="100%" border="0">
  <tr>
    <th width="15%">Name</th>
    <th width="20%">Short Description</th>
    <th width="8%">Price</th>
    <th width="8%">Cost</th>
    <th width="7%">Visible</th>
    <th width="8%">New Service</th>
    <th width="8%">Disabled ?</th>
    <th width="16%">Category</th>
  </tr>
  <% for service in @services %>
    <tr>
      <td><%= service.name %></td>
      <td><%= truncate(service.short_description, :omission => "... (more)", :length => 60) %></td>
      <td><%= number_to_currency(service.price) %></td>
      <td><%= number_to_currency(service.cost) %></td>
      <td><%= service.visible %></td>
      <td><%= service.new_service %></td>
      <td><%= service.deleted %></td>
      <td><%= truncate(service.category.name, :omission => "...", :length => 20) unless service.category_id.blank? %></td>
      <td><%= link_to "Show", company_service_path(current_company, service), :class => "smallbtn blue smallertxt" %>
	  <% if can? :update, service %>
      <%= link_to "Edit", edit_company_service_path(current_company, service), :class => "smallbtn blue smallertxt" %>
	  <% end %>
	  <% if can? :destroy, service %>
      <%= link_to "Destroy", [current_company, service], :confirm => 'Are you sure?', :method => :delete, :class => "smallbtn blue smallertxt" %>
	  <% end %>
	</td>
    </tr>
  <% end %>
</table>
<% if can? :create, service %>
<p><%= link_to "New Service", new_company_service_path(current_company, service), :class => "smallbtn green" %></p>
<% end %>
