<% content_for :head do -%>
  <%= javascript_include_tag 'jquery.backgroundPosition' %>
<% end %>
<% content_for :footer do -%>
  <script>			
$(document).ready(function() {
	$('.iphone-style').live('click', function() {	
		checkboxID		= '#' + $(this).attr('rel');
		if($(checkboxID)[0].checked == false) {			
			$(this).animate({backgroundPosition: '0% 100%'});			
			$(checkboxID)[0].checked = true;
			$(this).removeClass('off').addClass('on');			
		} else {			
			$(this).animate({backgroundPosition: '100% 0%'});			
			$(checkboxID)[0].checked = false;
			$(this).removeClass('on').addClass('off');			
		}
	});

	$('.iphone-style-checkbox, .firerift-style-checkbox').each(function() {		
		thisID		= $(this).attr('id');
		thisClass	= $(this).attr('class');
		switch(thisClass) {
			case "iphone-style-checkbox":
				setClass = "iphone-style";
			break;
			case "firerift-style-checkbox":
				setClass = "firerift-style";
			break;
		}		
		$(this).addClass('hidden');		
		if($(this)[0].checked == true)
			$(this).after('<div class="'+ setClass +' on" rel="'+ thisID +'">&nbsp;</div>');
		else
			$(this).after('<div class="'+ setClass +' off" rel="'+ thisID +'">&nbsp;</div>');
	});
});

</script>
<% end %>



<%= semantic_form_for [current_company, @insurance_policy] do |f| -%>
   <%= f.inputs do %>
	  <%= f.input :assigned_company_id, :as => :hidden %>
	  <%= f.input :parent_company_id, :as => :hidden %>
	  <%= f.input :parent_id, :as => :hidden %>
	  <%= f.input :customer_id, :as => :hidden %>
	 <table border=0 cellpadding="5" cellspacing="5" id="policy-new">
		<tr>
			<td colspan="2">Policy Number:<br />
				<%= f.input :policy_number, :label => "" %>
			</td>
			<td>
				<%= f.input :customer_id %>
			</td>
		</tr>
		<tr valign="TOP">
			<td><%= f.input :vendor, :label => "Insurance Company", :prompt => "Select Company" %></td>
			<td><input name="insurance_policy[yearly]" type="hidden" value="0" />
			 <label for="insurance_policy_yearly">Is it a 12 Month Policy?</label><br />
			   <input class="iphone-style-checkbox" id="checkbox-1"
			name="insurance_policy[yearly]" type="checkbox" value="1" /></td>
		 	<td>Policy Type<br />
				<%= f.input :policy_type, :as => :select, :collection => InsurancePolicy::POLICYTYPE, :include_blank => "Select Type", :label => "" %>
			</td>
		</tr>
		<tr>
			<td><%= f.input :down_payment, :label => "Down payment" %></td>
			<td><%= f.input :club_price %></td>
		 	<td><%= f.input :monthly_payment %></td>
		</tr>
		<tr valign=BOTTOM>
			<td colspan="2">Total number of payments including Down Payment.
				<%= f.input :number_of_payments_left, :label => "" %>
			</td>
		 	<td>Date first payment due on.<br /><span class="smallertxt">If existing policy, enter next due date.</span>
				<%= f.input :due_date, :as => :date_picker, :label => "" %>
			</td>
		</tr>
	  </table><br />
	<% end %>
   <%= f.buttons do %>
	<%= f.commit_button :button_html => {:class => "smallbtn green"} %>
   <% end %>
<% end %>
