<p>

<table>
	<%= form_for [current_company, @search], :html => {:method => :get} do |f| %>
	<tr>
		<td>Search by Policy Number:<br /><%= f.text_field :policy_number_contains, :class => "fancy-field" %></td>
		<td>Search by Vendor:<br /><%= f.text_field :vendor_name_contains, :class => "fancy-field" %></td>
	</tr>
	<tr>
		<td>Customer First Name:<br /><%= f.text_field :customer_firstname_contains, :class => "fancy-field" %></td>
		<td>Last Name:<br /><%= f.text_field :customer_lastname_contains, :class => "fancy-field" %></td>
	</tr>
	<tr>
		<td>Cancelled from:<br /><%= f.text_field :cancelled_on_gt, :class => "ui-date-picker", :value => (f.object.cancelled_on_gt.blank? ? '' : f.object.try(:cancelled_on_gt).try(:strftime,'%b %d %Y')), :class => "fancy-field" %></td>
		<td>to:<br /><%= f.text_field :cancelled_on_lt, :class => "ui-date-picker", :value => (f.object.cancelled_on_lt.blank? ? '' : f.object.try(:cancelled_on_lt).try(:strftime,'%b %d %Y')), :class => "fancy-field" %></td>
	</tr>
	<tr>
		<td>Completed Policies: <%= f.check_box :completed_is_true %></td>
		<td><%= f.submit "Search", :class => "smallbtn  blue" %></td>
	</tr>
</table>


    
<% end %>
</p>
<p><%= will_paginate @insurance_policies %></p>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <th width="12%"><%= sort_link @search, :policy_number %></th>
    <th width="15%">Customers</th>
    <th width="12%"><%= sort_link @search, :vendor_id, "Vendor" %></th>
    <th width="12%"><%= sort_link @search, :due_date %></th>
    <th width="11%"><%= sort_link @search, :cancelled_on %></th>
    <th width="10%"><%= sort_link @search, :completed %></th>
    <th width="8%"><%= sort_link @search, :number_of_payments_left, "Payments Left" %></th>
  </tr>
<% if !@insurance_policies.blank? %>
  <% for insurance_policy in @insurance_policies %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= insurance_policy.policy_number %></td>
      <td><%= insurance_policy.customer.firstname unless insurance_policy.customer.blank? %></td>
      <td><%= insurance_policy.vendor.name %></td>
      <td><%= insurance_policy.due_date.strftime("%b %d %Y") %></td>
      <td><%= insurance_policy.cancelled_on %></td>
      <td><%= insurance_policy.completed %></td>
      <td><%= insurance_policy.number_of_payments_left %></td>
      <td><%= link_to "Show", company_insurance_policy_path(current_company, insurance_policy) %>
	<% if can? :update, insurance_policy %>
       | <%= link_to "Edit", edit_company_insurance_policy_path(current_company, insurance_policy) %>
	<% end %>
	<% if can? :destroy, insurance_policy %>
       | <%= link_to "Destroy", [current_company, insurance_policy], :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	</td>
    </tr>
  <% end %>
<% else %>
	<tr>
		<td colspan="7" align=CENTER><br />THERE ARE NO POLICIES.</td>
	</tr>
<% end %>
</table>

<p><%= will_paginate @insurance_policies %></p>