<% title "New Insurance Policy" %>
<% content_for :head do -%>
  <%= javascript_include_tag 'jquery.backgroundPosition' %>
<% end %>
<% content_for :footer do -%>
  <script>			
$(document).ready(function() {
	$('.iphone-style').live('click', function() {	
		checkboxID		= '#' + $(this).attr('rel');
		if($(checkboxID)[0].checked == false) {			
			$(this).animate({backgroundPosition: '0% 100%'});			
			$(checkboxID)[0].checked = true;
			$(this).removeClass('off').addClass('on');			
		} else {			
			$(this).animate({backgroundPosition: '100% 0%'});			
			$(checkboxID)[0].checked = false;
			$(this).removeClass('on').addClass('off');			
		}
	});

	$('.iphone-style-checkbox, .firerift-style-checkbox').each(function() {		
		thisID		= $(this).attr('id');
		thisClass	= $(this).attr('class');
		switch(thisClass) {
			case "iphone-style-checkbox":
				setClass = "iphone-style";
			break;
			case "firerift-style-checkbox":
				setClass = "firerift-style";
			break;
		}		
		$(this).addClass('hidden');		
		if($(this)[0].checked == true)
			$(this).after('<div class="'+ setClass +' on" rel="'+ thisID +'">&nbsp;</div>');
		else
			$(this).after('<div class="'+ setClass +' off" rel="'+ thisID +'">&nbsp;</div>');
	});
});

</script>
<% end %>
<%= semantic_form_for [current_company, @insurance_policy] do |f| -%>
<%= f.error_messages %>
   <%= f.inputs do %>
	  <span class="hidden"><%= f.input :assigned_company_id, :as => :hidden %></span>
	  <span class="hidden"><%= f.input :parent_company_id, :as => :hidden %></span>
	  <span class="hidden"><%= f.input :parent_id, :as => :hidden %></span>
	  <span class="hidden"><%= f.input :customer_id, :as => :hidden %></span>
	 <table border=0 cellpadding="5" cellspacing="5" id="policy-new">
		<tr>
			<td colspan="3">Policy Number:<br />
				<%= f.input :policy_number, :label => "" %> 
			</td>
		</tr>
		<tr valign="TOP">
			<td width="33%"><%= f.input :vendor, :label => "Insurance Company", :prompt => "Select Company" %></td>
			<td width="33%"><input name="insurance_policy[yearly]" type="hidden" value="0" />
			 <label for="insurance_policy_yearly">Is it a 12 Month Policy?</label><br />
			   <input class="iphone-style-checkbox" id="checkbox-1"
			name="insurance_policy[yearly]" type="checkbox" value="1" /></td>
		 	<td width="33%">Policy Type<br />
				<%= f.input :policy_type, :as => :select, :collection => InsurancePolicy::POLICYTYPE, :include_blank => false, :label => "" %>
			</td>
		</tr>
		<tr>
			<td><%= f.input :down_payment, :label => "Down payment" %></td>
			<td><%= f.input :club_price %></td>
		 	<td><%= f.input :monthly_payment %></td>
		</tr>
		<tr>
			<td>Total number of payments including Down Payment.
				<%= f.input :number_of_payments_left, :label => "" %>
			</td>
		 	<td>Date first payment due on.<br /><span class="smallertxt">If existing, enter next due date.</span>
				<%= f.input :due_date, :as => :date_picker, :label => "" %>
			</td>
			<td>
				Policy Created at Date:<br /><span class="smallertxt">If existing, enter policy start date.</span>
				<%= f.text_field :created_at, :class => "created-at-datetime", :label => "", :value => (f.object.created_at.blank? ? Time.now.strftime('%b %d, %Y %I:%M %p') : f.object.try(:created_at).try(:strftime,'%b %d, %Y %I:%M %p')) %>
			</td>
		</tr>
	  </table><br />
	<% end %>
   <%= f.buttons do %>
	<%= f.commit_button "Create Policy and Invoice", :button_html => {:class => "smallbtn green"} %>
   <% end %>
<% end %>


<p><%= link_to "Back to List", company_insurance_policies_path(current_company) %></p>
