<% title "Insurance Policy" %>

<p>
  <strong>Policy Number:</strong>
  <%= @insurance_policy.policy_number %>
</p>
<p>
  <strong>Yearly:</strong>
  <%= @insurance_policy.yearly %>
</p>
<p>
  <strong>Customer:</strong>
  <%= link_to @insurance_policy.customer.full_name, company_customer_path(current_company, @insurance_policy.customer) %>
</p>
<p>
  <strong>Vendor:</strong>
  <%= link_to @insurance_policy.vendor.name, company_vendor_path(current_company, @insurance_policy.vendor) %>
</p>
<p>
  <strong>Assigned Company:</strong>
  <%= @insurance_policy.assigned_company_id %>
</p>
<p>
  <strong>Parent Company:</strong>
  <%= @insurance_policy.parent_company_id %>
</p>
<p>
  <strong>Due Date:</strong>
  <%= @insurance_policy.due_date %>
</p>
<p>
  <strong>Cancelled:</strong>
  <%= @insurance_policy.cancelled %>
</p>
<p>
  <strong>Completed:</strong>
  <%= @insurance_policy.completed %>
</p>
<p>
  <strong>Number Of Payments Left:</strong>
  <%= @insurance_policy.number_of_payments_left %>
</p>
<p>
  <strong>Down Payment:</strong>
  <%= number_to_currency(@insurance_policy.first_payment) %>
</p>
<p>
  <strong>Monthly Payments:</strong>
  <%= number_to_currency(@insurance_policy.monthly_payment) %>
</p>

<p>
	<%= link_to "Add Policy Payment", company_policy_payment_path(current_company, @insurance_policy) %>
</p>

<p>
  <%= link_to "Edit", edit_company_insurance_policy_path(current_company, @insurance_policy) %> |
  <%= link_to "Destroy", [current_company, @insurance_policy], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", company_insurance_policies_path(current_company) %>
</p>
