<% title "Special Service" %>

<p>
  <strong>Service:</strong>
  <%= @special_service.service_id %>
</p>
<p>
  <strong>Product Group:</strong>
  <%= @special_service.service_group_id %>
</p>

<p>
  <%= link_to "Edit", edit_special_service_path(@special_service) %> |
  <%= link_to "Destroy", @special_service, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", special_services_path %>
</p>
