<% title "Service Group" %>

<p>
  <strong>Name:</strong>
  <%= @service_group.name %>
</p>
<p>
  <strong>Short Description:</strong>
  <%= @service_group.short_description %>
</p>
<p>
  <strong>Cost:</strong>
  <%= @service_group.cost %>
</p>
<p>
  <strong>Price:</strong>
  <%= @service_group.price %>
</p>
<p>
  <strong>New Service:</strong>
  <%= @service_group.new_service %>
</p>
<p>
  <strong>Deleted:</strong>
  <%= @service_group.deleted %>
</p>
<p>
  <strong>Category:</strong>
  <%= @service_group.category.name unless @service_group.category_id.blank? %>
</p>

<% unless @service_group.services.empty? %>
<strong>Services Included = </strong>
  <% for service in @service_group.services %>
    <%= service.name %> 
  <% end %>
<% end %>

<p>
  <% if can? :update, @service_group %>
  <%= link_to "Edit", edit_company_service_group_path(current_company, @service_group) %> |
<% end %>
<% if can? :destroy, @service %>
  <%= link_to "Destroy", [current_company, @service_group], :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All", company_service_groups_path %>
</p>
