<% if !@items.blank? %>
<table>
	<tr>
		<th>Item Name</th>
		<th>Item amount</th>
		<th>Deleted by</th>
	</tr>
  <% for item in @items %>
    
   		<%= content_tag_for(:tr, item) do %>
   			<td><%= item.name.html_safe %></td>
			<td><%= number_to_currency(item.price) %></td>
			<td><%= item.user.firstname unless item.user_id.blank? %></td>
			<td><% if Order.exists?(item.order_id)%>
					<%= link_to "See order", company_order_path(item.assigned_company, item.order) %>
				<% else %>
					Order <%= item.order_id %> Deleted!
				<% end %>
			</td>
			<td><%= link_to "Really Delete", company_item_really_destroy_path(current_company, item), :remote => true, :class => "delete-tr-item" %></td>
   		<% end %>
    
  <% end %>
</table>
<%= will_paginate @items %>
<% else %>
  <p>Nothing has been deleted.</p>
<% end %>
