<% if !@items.blank? %>
  <% for item in @items %>
    <table>
   		<tr>
   			<th>Item Name</th>
			<th>Item amount</th>
			<th>Deleted by</th>
   		</tr>
   		<tr>
   			<td><%= item.name %></td>
			<td><%= item.price %></td>
			<td><%= item.user.firstname unless item.user_id.blank? %></td>
			<td><%= link_to "See order", company_order_path(item.assigned_company, item.order) %> </td>
			<td><%= link_to "Really Delete", item.destroy! %></td>
   		</tr>
    </table>
  <% end %>
<% else %>
  <p>Nothing has been deleted.</p>
<% end %>
