<div id="<%= title %>">
<h3><%= title.humanize + ":" %></h3>

<p><% if !tasks.blank? %>
  <table width="100%" id="task-table">
  <% for task in tasks %>
    <tr>
      <td width="50%"><%= task.name %></td>
      <td width="10%"><%= task.category %></td>
      <td width="25%"><%= task.due_at %></td>
      <td><%= link_to "Show", company_task_path(current_company, task) %></td>
      <td><%= link_to "Edit", edit_company_task_path(current_company, task) %></td>
      <td><%= link_to "Delete", company_task_path(current_company, task), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
	<tr>
		<td colspan="6"><hr class="thinHr"></td>
	</tr>
  <% end %>
</table>
<% else %>
  No Task Scheduled.
<% end %>
</p>
</div>