<div id="<%= title %>">
<h3><%= title.titleize + ":" %></h3>

<p><% if !tasks.blank? %>
  <table width="100%" id="task-table">
  <% for task in tasks %>
	<%= form_for [current_company, task] do |f| -%>
	<tr>
      <td width="50%"><%= task.name %></td>
      <td width="10%"><%= task.category %></td>
      <td width="20%"><%= task.due_at.strftime('%b %d %Y %I:%M %p') unless task.due_at.blank? %></td>
      <td><%= link_to "Show", company_task_path(current_company, task) %></td>
      <td><%= link_to "Edit", edit_company_task_path(current_company, task) %></td>
	  <td><a href="#" class="toggle-comment-form">Add Comment</a></td>
    </tr>
	<tr id="task-comment-form">
		<td colspan="6">
			<p><% if task.comment.blank? %>
				<% task.comment = task.build_comment %>
			<% end %>
			<%= f.hidden_field :completed_by, :value => current_user.id %>
			<%= f.fields_for :comment do |build| %>
				<%= build.hidden_field :commentable_id, :value => task.id %>
				<%= build.text_area :content, :size => "80x3" %>
			<% end %><br />
			Reschedule? <%= f.text_field :reschedule_date, :class => "task-picker fancy-field small-fancy-field", :id => "task-reschedule-#{task.id}" %>
			<br />
			<span class="smallertxt"><%= f.submit "Mark as completed", :class => "smallbtn green" %></span></p>
		</td>
	</tr>
  
	<% end -%>
    
	<tr>
		<td colspan="6"><hr class="thinHr"></td>
	</tr>
  <% end %>
</table>
<% else %>
  No Task Scheduled.
<% end %>
</p>
</div>