<% title "Edit Task" %>

<%= semantic_form_for [current_company, @task] do |f| %>
  <%= f.inputs do %>
	<%= f.hidden_field :user_id %>
	<%= f.input :assigned_to, :as => :select, :collection => @users %>
	<%= f.input :completed_by, :as => :select, :collection => @users %>
	<%= f.input :assigned_company, :as => :select, :collection => Company.all %>
	<%= f.input :name %>
	<%= f.input :category, :as => :select, :collection => Task::CATEGORY %>
	<%= f.input :due_at, :as => :datetime_picker %>
	<%= f.input :asset_type %>
	<%= f.input :asset_id %>
  	<% end %>
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>


<p>
  <%= link_to "Show", [current_company, @task] %> |
  <%= link_to "View All", company_tasks_path(current_company) %>
</p>
