<p class="new-task-button">
<a href="#" >Create new task</a>
</p>
<div class="new-task-form hidden">
<%= render :partial => "common/new_task", :locals => { :asset => current_company } %>	
<hr>
</div>
<% title "Tasks" %>
<%= render :partial => "tasks_show", :locals => { :tasks => @tasks.pending.overdue, :title => "overdue" }%>
<%= render :partial => "tasks_show", :locals => { :tasks => @tasks.pending.due_today, :title => "due_today" }%>
<%= render :partial => "tasks_show", :locals => { :tasks => @tasks.pending.due_tomorrow, :title => "due_tomorrow" }%>	
<%= render :partial => "tasks_show", :locals => { :tasks => @tasks.pending.due_this_week, :title => "due_this_week" }%>
<%= render :partial => "tasks_show", :locals => { :tasks => @tasks.pending.due_next_week, :title => "due_next_week" }%>
<%= render :partial => "tasks_show", :locals => { :tasks => @tasks.pending.due_later, :title => "due_later" }%>
