<% title "Tasks" %>

<table>
  <tr>
    <th>User</th>
    <th>Assigned To</th>
    <th>Completed By</th>
    <th>Assigned Company</th>
    <th>Name</th>
    <th>Asset</th>
    <th>Asset Type</th>
    <th>Category</th>
    <th>Due At</th>
    <th>Deleted At</th>
  </tr>
  <% for task in @tasks %>
    <tr>
      <td><%= task.user_id %></td>
      <td><%= task.assigned_to %></td>
      <td><%= task.completed_by %></td>
      <td><%= task.assigned_company %></td>
      <td><%= task.name %></td>
      <td><%= task.asset_id %></td>
      <td><%= task.asset_type %></td>
      <td><%= task.category %></td>
      <td><%= task.due_at %></td>
      <td><%= task.deleted_at %></td>
      <td><%= link_to "Show", company_task_path(current_company, task) %></td>
      <td><%= link_to "Edit", edit_company_task_path(current_company, task) %></td>
      <td><%= link_to "Destroy", company_task_path(current_company, task), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Task", new_company_task_path(current_company, task) %></p>
