<% title 'User Dashboard' %>

I am User Dashboard.

<table>
  <tr>
    <th>Name</th>
	<th>subdomain</th>
    <th>Belongs To</th>
  </tr>
  <% for company in @companies %>
    <tr>
      <td><%= company.name %></td>
	  <td><%= link_to_unless(company.subdomain.blank?, company.subdomain, company) do |notthere|
		"No Subdomain Assigned"
	end
		 %></td>
      <td><b><%= company.parent.name unless company.parent_id.blank? %></b></td>
      <td><%= link_to "Go to", show_company_path(company) %></td>
      <td><%= link_to "Edit", edit_company_path(company) %></td>
      <td><%= link_to "Destroy", delete_company_path(company), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>