<% title "Users" %>

<table>
  <tr>
    <th>First Name</th>
	<th>Last Name</th>
    <th>Email</th>
	<th>Username</th>
	<th>Passcode</th>
  </tr>
  <% for user in @users %>
	<% if can? :read, user%>
    <tr>
      <td><%= user.firstname %></td>
	  <td><%= user.lastname %></td>
      <td><%= user.email %></td>
	  <td><%= user.username %></td>
	  <td><%= user.passcode %></td>
      <td><%= link_to "Show", company_user_path(current_company, user.id), :class => "smallbtn blue smallertxt" %></td>
      <td><%= link_to "Edit", edit_company_user_path(current_company, user), :class => "smallbtn blue smallertxt" %></td>
	  <% if can? :destroy, user %>
      <td><%= link_to "Destroy", [current_company, user], :confirm => 'Are you sure?', :method => :delete, :class => "smallbtn blue smallertxt" %></td>
	  <% end %>
    </tr>
    <% end %>
  <% end %>
</table>

<p><%= link_to "New User", new_company_user_path(current_company, user), :class => "smallbtn green" %></p>
