<% title "New User" %>

<%= form_for [current_company, @user] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
  
  <p>
  	<% if current_user.role?(:manager) %>
	<%= f.collection_select :role, %w[employee manager], :to_s, :humanize %>
	<% elsif current_user.role?(:admin) %>
	<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
	<% end %>
  </p>
<% unless @companies.blank? %>
<p>
	<strong>Assigned to Work At:</strong><br />
   <% @companies.each do |company| %>
		<%= check_box_tag :company_ids, company.id, @user.companies.include?(company), :name => 'user[company_ids][]' -%> <%= label_tag :companies_ids, company.name %>
   <% end %>
</p>
<% end %>  
  <p><%= f.submit(:class => "smallbtn green") %> | <%= link_to "Back to List", company_users_path, :class => "smallbtn green" %></p>
<% end %>

