<% title "New User" %>

<%= form_for [current_company, @user] do |f| %>
  <%= f.error_messages %>
<table>
	<tr align=LEFT>
		<th>First Name:</th>
		<th>Last Name:</th>
	</tr>
	<tr align=LEFT>
		<td><%= f.text_field :firstname %></td>
		<td><%= f.text_field :lastname %></td>
	</tr>
	<tr align=LEFT>
		<th>Email:</th>
		<th>Username / Login:</th>
	</tr>
	<tr align=LEFT>
		<td><%= f.text_field :email %></td>
		<td><%= f.text_field :username %></td>
	</tr>
	<tr align=LEFT>
		<th>Password:</th>
		<th>Password Confirmation:</th>
	</tr>
	<tr align=LEFT>
		<td><%= f.password_field :password %></td>
		<td><%= f.password_field :password_confirmation %></td>
	</tr>
</table>

  
  <p>
  	<% if current_user.role?(:manager) %>
	<%= f.collection_select :role, %w[employee manager], :to_s, :humanize %>
	<% elsif current_user.role?(:admin) %>
	<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
	<% end %>
  </p>
<% unless @companies.blank? %>
<p>
	<strong>Assigned to Work At:</strong><br />
   <% @companies.each do |company| %>
		<%= check_box_tag :company_ids, company.id, @user.companies.include?(company), :name => 'user[company_ids][]' -%> <%= label_tag :companies_ids, company.name %>
   <% end %>
</p>
<% end %>  
  <p><%= f.submit(:class => "smallbtn green") %> | <%= link_to "Back to List", company_users_path, :class => "smallbtn green" %></p>
<% end %>

