
<%= nested_form_for [current_company, @customer] do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :parent_company_id %>
  <p>
    <strong><%= f.label :firstname %></strong><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <strong><%= f.label :lastname %></strong><br />
    <%= f.text_field :lastname %>
  </p>
<p>
	<%= f.fields_for :phones  %>
	 <p><%= f.link_to_add "Add a number", :phones %></p>
</p>
  <p>
    <strong><%= f.label :customer_number %></strong><br />
    <% if current_user.role == "admin" %>
	  <%= f.text_field :customer_number %>
	<% else %>
	  <%= f.object.customer_number unless f.object.customer_number.blank? %>
   <% end %>
  <p>
  	<strong>Assigned Company is</strong> - <%= f.collection_select(:assigned_company_id, @companies, :id, :name, :prompt => "Select Main Company") %>
  </p>
<p><table>
  	<caption> Address</caption>
    <tr>
    	<th colspan="2">Street</th>
		<th>Suite or Apt</th>
    </tr>
	<tr>
		<td colspan="2"><%= f.text_field :street1, :size => 60 %></td>
		<td><%= f.text_field :street2 %></td>
	</tr>
	<tr>
    	<th>City</th>
		<th>State</th>
		<th>Zip</th>
    </tr>
	<tr>
    	<td><%= f.text_field :city %></td>
		<td><%= f.select(:state, [
			['Alabama', 'AL'], 
			['Alaska', 'AK'],
			['Arizona', 'AZ'],
			['Arkansas', 'AR'], 
			['California', 'CA'], 
			['Colorado', 'CO'], 
			['Connecticut', 'CT'], 
			['Delaware', 'DE'], 
			['District Of Columbia', 'DC'], 
			['Florida', 'FL'],
			['Georgia', 'GA'],
			['Hawaii', 'HI'], 
			['Idaho', 'ID'], 
			['Illinois', 'IL'], 
			['Indiana', 'IN'], 
			['Iowa', 'IA'], 
			['Kansas', 'KS'], 
			['Kentucky', 'KY'], 
			['Louisiana', 'LA'], 
			['Maine', 'ME'], 
			['Maryland', 'MD'], 
			['Massachusetts', 'MA'], 
			['Michigan', 'MI'], 
			['Minnesota', 'MN'],
			['Mississippi', 'MS'], 
			['Missouri', 'MO'], 
			['Montana', 'MT'], 
			['Nebraska', 'NE'], 
			['Nevada', 'NV'], 
			['New Hampshire', 'NH'], 
			['New Jersey', 'NJ'], 
			['New Mexico', 'NM'], 
			['New York', 'NY'], 
			['North Carolina', 'NC'], 
			['North Dakota', 'ND'], 
			['Ohio', 'OH'], 
			['Oklahoma', 'OK'], 
			['Oregon', 'OR'], 
			['Pennsylvania', 'PA'], 
			['Rhode Island', 'RI'], 
			['South Carolina', 'SC'], 
			['South Dakota', 'SD'], 
			['Tennessee', 'TN'], 
			['Texas', 'TX'], 
			['Utah', 'UT'], 
			['Vermont', 'VT'], 
			['Virginia', 'VA'], 
			['Washington', 'WA'], 
			['West Virginia', 'WV'], 
			['Wisconsin', 'WI'], 
			['Wyoming', 'WY']], {:prompt => 'Select State'}) %></td>
		<td><%= f.text_field :zipcode %></td>
    </tr>
  </table>
</p>
  
  <p><%= f.submit %></p>
<% end %>
