<% title @customer.full_name %>


<div id="tabs">
	<ul>
	    <li><a href="#firstTab">Customer Info</a></li>	
	    <li><%= link_to "Orders Purchased", company_customer_orders_path(current_company, @customer) %> </li>
	    <li><%= link_to "Insurance Policies", company_customer_policies_path(current_company, @customer) %></li>
	    <li><%= link_to "Notes", company_customer_comments_path(current_company, @customer) %></li>		
	</ul>
	<div id="firstTab">
		
		<% pending_payments = @customer.orders.with_partial_payments.without_payments_made %>
		<% unless pending_payments.blank? %>
		<% pending_payments.each do |order| %>
		<b>Customer Owes:</b>  <%= link_to number_to_currency(order.amount_owed) + " from this Order", company_order_path(current_company, order.id)%>  | <%= link_to "Click here to pay", company_partial_payment_path(current_company, order) %><br />
		
		<% end %>
		
		<% end %>
		<table width="100%">
			<tr valign=TOP>
			<td>
				<p>
					<strong>Customer Number:</strong> <%= @customer.customer_number %><br />
					<br />
					<strong>Assigned Company:</strong> <%= @assigned_company.name %><br />
					<br />
					<strong>Current Address</strong><br />
					<%= @customer.full_address.html_safe %>
				</p>
			</td>
			<td>
				<p><b>Numbers on File:</b><br /><br />
				<% if !@customer.phones.blank? %>
				  <% for phone in @customer.phones %>
				    <b><%= phone.phone_type.capitalize %></b>: <%= number_to_phone(phone.phone_number) %><br /><br />
				  <% end %>
				<% else %>
				  No Number on file
				<% end %></p>
				
			</td>	
			</tr>
			<tr>
				<td colspan="2">
					<div id="tasks">
						<p>
							<% if !@customer.tasks.blank? %>
								<%= render :partial => "tasks/tasks_show", :locals => {:tasks => @customer.tasks, :title => "Tasks"}%>
							<% else %>
							  No Tasks <%= @customer.full_name.titleize %>
							<% end %>

						</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<% unless @customer.addresses.blank? %>
					<br /><hr /	>
					<strong>Previous Addresses Used:</strong><br />
						<table width="100%">
							<% @customer.addresses.in_groups_of(3, false) do |grouped_address| %>
							    <tr>
								<% grouped_address.each do |address| %>
									<td><%= address.street1 %><br />
									<% unless address.street2.blank? %><%= address.street2 %><br /><% end %>
									<%= address.city %>, <%= address.state %> <%= address.zipcode %><br />
									<%= link_to "Remove",  [current_company, @customer, address], :confirm => 'Are you sure?', :method => :delete %></td>
								<% end %>
								</tr>
							<% end %>
						</table>
					<% end %>
				</td>
			</tr>
		</table>
	</div>	
</div>



<p class="floatRight">
	<%= link_to "Create Order", edit_company_order_path(current_company, current_order, :customer_id => @customer.id), :class => "smallbtn green" %> <span class="new-task-button">
		<a href="#" class="smallbtn green">Add a Task</a>
		</span>
</p>





<p><% if can? :update, @customer %>
  <%= link_to "Edit", edit_company_customer_path, :class => "smallbtn green" %> |
	<% end %>
	<% if can? :destroy, @customer %>
  <%= link_to "Destroy", [current_company, @customer], :confirm => 'Are you sure?', :method => :delete, :class => "smallbtn green" %> |
	<% end %>
  <%= link_to "View All", company_customers_path, :class => "smallbtn green" %>
</p>
<br />
<p>
	<div class="new-task-form hidden">
	<%= render :partial => "common/new_task", :locals => { :asset => @customer } %>	
	</div>
</p>
