<% title current_company.name.capitalize + "'s Customer" %>

<p>
  <strong>Firstname:</strong>
  <%= @customer.firstname %>
</p>
<p>
  <strong>Lastname:</strong>
  <%= @customer.lastname %>
</p>
<p>
  <strong>Customer Number:</strong>
  <%= @customer.customer_number %>
</p>
<p>
  <strong>Main Company:</strong>
  <%= @parent_company.name %>
</p>
<p>
  <strong>Assigned Company:</strong>
  <%= @assigned_company.name %>
</p>
<p>
	<strong>Current Address</strong><br />
	<%= @customer.full_address.html_safe %>
</p>

<p>
	<strong>Orders Purchased:</strong><br />
	<% @customer.orders.each do |order| %>
		<% order.items.each do |item| %>
			<%= link_to item.name, company_item_path(current_company, item) %><br />
		<% end %>
	<% end %>
</p>

<%= render "addresses"%>

<p>
	<%= link_to "New Order", edit_company_order_path(current_company, current_order, :customer_id => @customer.id), :class => "smallbtn green" %>
</p>

<p>
	<%= link_to "New Policy", new_company_customer_insurance_policy_path(current_company, @customer), :class => "smallbtn green"  %>
</p>
<%= render :partial => 'insurance_policies/show', :collection => @customer.insurance_policies, :as => :insurance_policy %>




<p><% if can? :update, @customer %>
  <%= link_to "Edit", edit_company_customer_path %> |
	<% end %>
	<% if can? :destroy, @customer %>
  <%= link_to "Destroy", [current_company, @customer], :confirm => 'Are you sure?', :method => :delete %> |
	<% end %>
  <%= link_to "View All", company_customers_path %>
</p>
