<% title @customer.full_name %>


<div id="tabs">
	<ul>
	    <li><a href="#firstTab">Customer Info</a></li>
	
	    <li><%= link_to "Orders Purchased", company_customer_orders_path(current_company, @customer) %> </li>
	    <li><%= link_to "Insurance Policies", company_customer_policies_path(current_company, @customer) %></li>
	    <li><%= link_to "Previous Addresses", company_customer_addresses_path(current_company, @customer) %></li>
	</ul>
	<div id="firstTab">
		<p>
			<strong>Customer Number:</strong> <%= @customer.customer_number %><br />
			<br />
			<strong>Assigned Company:</strong> <%= @assigned_company.name %><br />
			<br />
			<strong>Current Address</strong><br />
			<%= @customer.full_address.html_safe %>
		</p>
		
	</div>

	
	
</div>







<p class="floatRight">
	<%= link_to "New Order", edit_company_order_path(current_company, current_order, :customer_id => @customer.id), :class => "smallbtn green" %> <%= link_to "New Policy", new_company_customer_insurance_policy_path(current_company, @customer), :class => "smallbtn green"  %>
</p>





<p><% if can? :update, @customer %>
  <%= link_to "Edit", edit_company_customer_path %> |
	<% end %>
	<% if can? :destroy, @customer %>
  <%= link_to "Destroy", [current_company, @customer], :confirm => 'Are you sure?', :method => :delete %> |
	<% end %>
  <%= link_to "View All", company_customers_path %> | 	<span class="new-task-button">
	<a href="#" >Create task for customer</a>
	</span>
	<div class="new-task-form hidden">
	<%= render :partial => "common/new_task", :locals => { :asset => @customer } %>	
	</div>
</p>
