<script>
$(document).ready(function(){
	$('.delete-order-item').bind('ajax:success', function() {  
	    $(this).closest('tr').fadeOut();
	  	
	});
});
</script>
	<%= form_for [current_company, order] do |f| %>
	  <%= f.error_messages %>
	
	<% if order.closed? && current_user.role == "admin" %>
	<p class="extrapadding" style="background-color:red;color:#eee;">  Sold At Location: <%= f.select :assigned_company_id, Company.all.collect { |u| [u.name, u.id] }, :selected => order.assigned_company_id unless order.assigned_company_id.nil? %> | 
	Sold By: <%= f.select :user_id, User.all.collect { |u| [u.full_name, u.id] }, :selected => order.user_id unless order.user_id.nil? %> <%= f.hidden_field :parent_company_id %> | 
	Invoice Date: <%= f.text_field :formated_closed_date, :class => "created-at-datetime" %>
	</p>
	<% else %>
	<%= f.hidden_field :assigned_company_id %>
    <%= f.hidden_field :parent_company_id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
	<% end %>
	
	
<table width="100%" border="0">
	<tr width="100%">
		<td wdith="58%" class="silverBG">
			
			<% unless customer.blank? %>
			  	<%= render :partial => 'common/show_customer_condensed', :locals => {:customer => customer } %>
			    <%= f.hidden_field :customer_id, :value => customer.id %>
			<% else %>
				<%= f.fields_for :customer do |customer| %>
			    	<%= render :partial => 'common/new_customer', :locals => { :f => customer } %>
			    <% end %>
			<% end %>
		</td>
		<td align=center><%= image_tag("/images/logos/med.png", :size => "240x166", :alt => "Logo") %></td>
	</tr>
	<tr width="100%">
		<td width="50%">&nbsp;</td>
		<td width="50%">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" id="order_date">
				<tr width="100%">
					<td align=left>Order #</td>
					<td align=right><%= order.id %></td>
				</tr>
				<tr width="100%">
					<td align=left>Invoice Date</td>
					<td align=right><%= Date.today.strftime('%m/%d/%Y') %></td>
				</tr>
				<tr class="silverBoarderd">
					<th align=left>Amount Due</th>
					<th align=right class="order-amount-due"><%= number_to_currency(order.amount_due) %></th>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div id="items">
				<table width="100%" cellpadding="0" cellspacing="0">
				<tr class="silverBoarderd">
					<th width="20%">Product / Service</th>
					<th width="30%">Description</th>
					<th width="14%">Cost</th>
					<th width="14%">Unit Price</th>
					<th width="8%">Qty</th>
					<th width="14%">Total </th>
				</tr>
				<%= f.fields_for :items, :order => ("id ASC") do |item| %>
					 <%= render :partial => 'orders/new_item', :locals => { :item => item, :order => order } %>
			    <% end %>
				</table>
			</div><!-- items -->
		</td>
	</tr>
	<tr>
		<td width="60%" align=LEFT >
			<b>Notes:</b><br />
			<div id="new-comment-form">
				<%= f.fields_for :comment do |comment| %>
				<%= comment.hidden_field :commentable, :value => order %>
					<%= comment.text_area :content, :cols => 75, :rows => 8, :class => "content" %>
				<% end %>	
			</div>
		</td>
		<td>
			<table width="100%">
				<tr>
					<td width="45%"><%= f.label :payment_type %></td>
					<td ALIGN=RIGHT><%= f.collection_select :payment_type, Order::PAYMENTTYPES, :to_s, :humanize %></td>
				</tr>
				<tr>
					<td>Total Cost</td>
					<td ALIGN=RIGHT class="order-true-cost"><%= number_to_currency(order.true_cost) %></td>
				</tr>
				<tr>
					<td>Total Due:</td>
					<td ALIGN=RIGHT class="order-total-price"><%= number_to_currency(order.total_price) %></td>
					
				</tr>
				<tr>
					<td>Amount Paid</td>
					<td ALIGN=RIGHT>$ <%= f.text_field :amount_paid, :class => "currency fancy-field" %></td>
				</tr>
			</table>
		</td>
	</tr>
</table>	


  
	
	
  
  
  
  <p style="float:right;">
	<% unless order.closed? %>
		<%= f.submit "Print and Invoice", :class => "smallbtn green", :close_order => true %>
	<% else %>
		<%= f.submit :class => "smallbtn green" %>
	<% end %>
  </p>
<% end %>