<% title "Orders" %>

<table>
  <tr>
    <th>Assigned Company</th>
    <th>Parent Company</th>
    <th>Customer</th>
    <th>User</th>
    <th>Closed</th>
    <th>Closed Date</th>
    <th>Payment Type</th>
    <th>Total Cost</th>
    <th>Total Amount</th>
	<th>Override</th>
	<th>Paid</th>
  </tr>
  <% for order in @orders %>
    <tr>
      <td><%= order.assigned_company_id %></td>
      <td><%= order.parent_company_id %></td>
      <td><%= order.customer_id %></td>
      <td><%= order.user_id %></td>
      <td><%= order.closed %></td>
      <td><%= order.closed_date %></td>
      <td><%= order.payment_type %></td>
      <td><%= order.total_cost %></td>
      <td><%= order.total_amount %></td>
	  <td><%= order.override %></td>
	  <td><%= order.amount_paid %></td>
      <td><%= link_to "Show", [current_company, order] %></td>
	 <% if can? :update, order %>
      <td><%= link_to "Edit", edit_company_order_path(current_company, order) %></td>
	  <% end %>
	<% if can? :destroy, order %>
      <td><%= link_to "Destroy", [current_company, order], :confirm => 'Are you sure?', :method => :delete %></td>
 	<% end %>
    </tr>
  <% end %>
</table>

