
<div id="show-order">
	<% title "Order" %>

<%= render :partial => "top-order-notes" %>

<table width="100%" border="0">
	<tr width="100%">
		<td wdith="58%" class="silverBG">
			
			<% unless @order.customer.blank? %>
			  	<%= render :partial => 'common/show_customer_condensed', :locals => {:customer => @order.customer } %>
						<%= link_to "Go to Customer", [current_company, @order.customer], :class => "smallbtn blue" %>
			<% end %>
		</td>
		<td align=center><%= image_tag("/images/logos/med.png", :size => "240x166", :alt => "Logo") %></td>
	</tr>
	<tr width="100%">
		<td width="50%">&nbsp;</td>
		<td width="50%">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" id="order_date">
				<tr width="100%">
					<td align=left>Order #</td>
					<td align=right><%= @order.id %></td>
				</tr>
				<tr width="100%">
					<td align=left>Invoice Date</td>
					<td align=right><%= @order.closed_date.strftime('%m/%d/%Y') unless @order.closed_date.blank? %></td>
				</tr>
				<tr class="silverBoarderd">
					<th align=left>Amount Due</th>
					<th align=right><%= number_to_currency(@order.amount_due) %></th>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div id="items"><%= render 'items' %></div><!-- items -->
		</td>
	</tr>
	<tr>
		<td width="60%" align=LEFT>
			<b>Notes:</b><br />
			<%= @order.comment.content unless @order.comment.blank?  %>
		</td>
		<td>
			<table width="100%">
				<tr>
					<td width="45%">Payment Type:</td>
					<td ALIGN=RIGHT><%= @order.payment_type.titleize unless @order.payment_type.blank? %></td>
				</tr>
				<tr>
					<td>Total Cost</td>
					<td ALIGN=RIGHT><%= number_to_currency(@order.true_cost) %></td>
				</tr>
				<tr>
					<td>Total Due:</td>
					<td ALIGN=RIGHT><%= number_to_currency(@order.total_price) %></td>
					
				</tr>
				<tr>
					<td>Amount Paid</td>
					<td ALIGN=RIGHT><%= number_to_currency(@order.amount_paid) %></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<% if @order.closed? %>
<p style="text-align:right;">
	<%= link_to "Print Order", company_print_order_url(current_company, @order), :rel => 'facebox', :class => "smallbtn blue" %>
</p>
<% end %>

<p>
	<% if can? :update, @order %>
  <%= link_to "Edit", edit_company_order_path(current_company, @order) %> |
	<% end %>
	<% if can? :destroy, @order %>
  <%= link_to "Destroy", [current_company, @order], :confirm => 'Are you sure?', :method => :delete %> |
	<% end %>
  <%= link_to "View All", company_orders_path %>
</p>
</div>

<% if @order.is_a_partial_payment && @order.still_owes %>
<% if @order.task.blank? %>
<script type="text/javascript" language="javascript">
    $(document).ready(function(){
        $("#partial-payment-task").dialog({ modal: true, resizable: false, height: 'auto', minWidth: '450', show: 'fade' });
$("#task_submit").focus();
    });
</script>

<div id="partial-payment-task" title="Setup reminder for partial payment">
	<div id="task-errors" style="display:none"></div>
	<br />
	<%= form_for [current_company, Task.new], :remote => true do |f| %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :asset_type, :value => @order.class %>
		<%= f.hidden_field :asset_id, :value => @order.id %>
		<%= f.hidden_field :assigned_company, :value => current_company.id %>
		<%= f.hidden_field :assigned_to, :value => current_user.id %>
		<%= f.hidden_field :category, :value => "money" %>
		<%= f.text_field :name, :value => "Call #{@order.customer.full_name} about the Partial payment on Order #{@order.id}", :class => "fancy-field" %><br /><br />
		<%= f.label "Due at: "%><br /><%= f.text_field :due_at, :class => "task-datetime fancy-field small-fancy-field" %>
		
		<p style="text-align:right;"><%= f.submit :class => "smallbtn green" %></p>		
	<% end %>
</div>
<% else %>
<% end %>
<% end %>