<% title 'Company Dashboard' %>

<div id="dashboard-tasks">
	<table cellspacing="10" border="0" width="100%">
		<tr valign=TOP>
			<td>
				
			<div id="overdue-tasks"><%= render :partial => "tasks/tasks_show", :locals => { :tasks => current_tasks.overdue, :title => "overdue" }%></div>	
			<div id="due-today-tasks"><%= render :partial => "tasks/tasks_show", :locals => { :tasks => current_tasks.due_today, :title => "due_today" }%></div>
			</td>
		</tr>
	</table>
</div>
<p>
<span class="new-task-button"><a href="#" class="smallbtn green smallertxt not-bold" >Create new task</a></span> | 
<span class="close-dashboard-tasks"><a href="#" class="smallbtn green smallertxt not-bold" >Close Tasks</a></span>
<span class="open-dashboard-tasks" style="display:none;"><a href="#" class="smallbtn green smallertxt not-bold" >Open Tasks</a></span>
</p>
<div class="new-task-form hidden">
<%= render :partial => "common/new_task", :locals => { :asset => current_company } %>	
</div>

<ul id="dashboard">
	<li><%= link_to image_tag("/images/icons/32/scheduled_task.png", :size => "32x32", :class => "dashIcon") + "Tasks" + "<br />
	<div class='subText'>See details of pending tasks.</div>".html_safe, company_tasks_path %></li>
<li>
<%= link_to image_tag("/images/icons/32/vcard.png", :size => "32x32", :class => "dashIcon") + "All Customers" + "<br />
<div class='subText'>See All customers.</div>".html_safe, company_customers_path(current_company) %>
</li>
<li><%= link_to image_tag("/images/icons/32/vcard.png", :size => "32x32", :class => "dashIcon") + current_company.name.capitalize + "'s Customers" + "<br />
<div class='subText'>Just your companies customers.</div>".html_safe, my_customers_path %></li>
<li> <%= link_to image_tag("/images/icons/32/cash_register.png", :size => "32x32", :class => "dashIcon") + "New Order" + "<br /><div class='subText'>Create a New Order.</div>".html_safe, edit_company_order_path(current_company, current_order) %> </li>

<li><%= link_to image_tag("/images/icons/32/brick.png", :size => "32x32", :class => "dashIcon") + "Services" + "<br />
<div class='subText'>See All services.</div>".html_safe, company_services_path %></li>
<li><%= link_to image_tag("/images/icons/32/bricks.png", :size => "32x32", :class => "dashIcon") + "Service Group" + "<br /><div class='subText'>Bundled services.</div>".html_safe, company_service_groups_path %></li>
<li><%= link_to image_tag("/images/icons/32/curriculum_vitae.png", :size => "32x32", :class => "dashIcon") + "Insurance Policies" + "<br /><div class='subText'>See All Insurance Policies.</div>".html_safe, company_insurance_policies_path %></li>

<% if current_user.role? :manager || :admin %>

	<li><%= link_to image_tag("/images/icons/32/money_bag.png", :size => "32x32", :class => "dashIcon") + " Orders" + "<br /><div class='subText'>See All orders that have been closed.</div>".html_safe, company_orders_path %></li>
	<li><%= link_to image_tag("/images/icons/32/participation_rate.png", :size => "32x32", :class => "dashIcon") + " Vendors" + "<br /><div class='subText'>To create and see current vendors.</div>".html_safe, company_vendors_path %></li>
	<li><%= link_to image_tag("/images/icons/32/user.png", :size => "32x32", :class => "dashIcon") + "Employees" + "<br />
	<div class='subText'>See All employees.</div>".html_safe, company_users_path %></li>
	<% if current_user.role? :admin %>								
	<li><%= link_to image_tag("/images/icons/32/building.png", :size => "32x32", :class => "dashIcon") + "Companies"	 + "<br /><div class='subText'>Create, edit and see all companies.</div>".html_safe, :controller => '/companies', :action => 'index' %></li>
	<li><%= link_to image_tag("/images/icons/32/large_tiles.png", :size => "32x32", :class => "dashIcon") + " Categories" + "<br /><div class='subText'>Create, edit and see all categories (used in reports).</div>".html_safe, company_categories_path %></li>
	<% end %>

<% end %>
		
</ul>