<% title "Company" %>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @company.subdomain %>
</p>
<% unless @company.parent_id.blank? %>
<p>
  <strong>Parent:</strong>
  <%= @company.parent.name %>
</p>
<% end %>

<%= link_to "New Order", edit_company_order_path(current_company, current_order) %>


<table>
	<thead>
		<tr>
			<th>Locations</th>
		</tr>
	</thead>
<% for location in @company.locations %>
	<tbody>
		<tr>
			<td><%= link_to location.name, show_company_path(location) %></td>
			<% if can? :update, location %>
			<td><%= link_to "Edit", edit_company_path(location) %></td>
			<% end %>
		</tr>
	</tbody>
<% end %>
</table>

<% unless @company.full_address.blank? %>

<p><b>Address on File:</b><br />
<%= @company.full_address.html_safe %></p>
<% end %>

	
<p>
	<strong>Employees</strong><br />
	<% @users.each do |user| %>
		<%= user.firstname %> <%= user.lastname %> 
		<% if can? :update, user %>
		<%= link_to "Edit", edit_company_user_path(current_company, user) %>
		<% end %><br />
	<% end %>
	<br />
	<% if can? :create, User %>
	<%= link_to "Add Employee", company_users_path(current_company) %>
	<% end %>
</p>



<p>
<% if can? :update, @company %>
  <%= link_to "Edit", edit_company_path(@company) %> |
  <%= link_to "Destroy", root_url(@company), :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
  <%= link_to "View All", companies_path %>
</p>
