<%= nested_form_for [current_company, @vendor] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
<p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
<% unless @vendor.blank? || @vendor.addresses.blank? %>
<p>
	<%= f.fields_for :addresses do |address_form| %>
	    <%= render :partial => "address_fields", :locals => {:f => address_form }%>
		<%= address_form.link_to_remove "Remove this Address" %>
	  <% end %>
</p>
<% end %>

<p>
	<%= f.fields_for :addresses  %>
	 <p><%= f.link_to_add "Add a Address", :addresses %></p>
</p>



  <p><%= f.submit %></p>
<% end %>
