
<%= form_for [current_company, @insurance_policy, @endorsement] do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :insurance_policy_id, :value => @insurance_policy.id %>
<table width="100%" cellpadding="5">
<tr>
	<th colspan="3">Description:</th>
	<th><% if current_user.role == "admin" %>
		Created By:
		<% end %>
	</th>
	
</tr>
<tr>
	<td colspan="3"><%= f.text_field :name, :size => 85 %></td>
	<td>
		<% if current_user.role == "admin" %>
		<%= f.select :user_id, User.all.collect { |u| [u.full_name, u.id] } %>
		<% else %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<% end %>
	</td>
	
</tr>
<tr valign="BOTTOM">
	<th>Previous Payment Amount:</th>
	<th>New payment amount</th>
	<th>If partial payment, how much?</th>
	<th>
		Club Price<br />
		<span class="smallertxt not-bold">1 time fee added.</span>
	</th>
</tr>
<tr>
	<td><%= f.text_field :previous_payment_amount, :value => @endorsement.get_previous_amount(@insurance_policy), :size => 20 %></td>
	<td><%= f.text_field :new_payment_amount, :size => 20 %></td>
	<td><%= f.text_field :partial_payment_amount, :size => 20 %></td>
	<td><%= f.text_field :club_price, :size => 20 %></td>
	
</tr>
</table>

  
  <p><%= f.submit %></p>
<% end %>
