<% title "Endorsement" %>

<p>
  <strong>Insurance Policy:</strong>
  <%= @endorsement.insurance_policy_id %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @endorsement.user.full_name unless @endorsement.user_id.blank? %>
</p>
<p>
  <strong>Name:</strong>
  <%= @endorsement.name %>
</p>
<p>
  <strong>Previous Payment Amount:</strong>
  <%= number_to_currency(@endorsement.previous_payment_amount) %>
</p>
<p>
  <strong>Partial Payment Amount:</strong>
  <%= number_to_currency(@endorsement.partial_payment_amount) %>
</p>
<p>
  <strong>New Payment Amount:</strong>
  <%= number_to_currency(@endorsement.new_payment_amount) %>
</p>
<p>
  <strong>Club Price:</strong>
  <%= number_to_currency(@endorsement.club_price) %>
</p>
<p>
  <strong>Invoiced:</strong>
  <%= @endorsement.invoiced %>
</p>

<p>
  <%= link_to "Edit", edit_company_insurance_policy_endorsement_path(current_company, @insurance_policy, @endorsement) %> |
  <%= link_to "Destroy", [current_company, @insurance_policy, @endorsement], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", company_insurance_policy_endorsements_path(current_company, @insurance_policy) %>
</p>
