<%= form_for [current_company, @category] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	<%= f.select :parent_id, sorted_nested_set_options(Category, lambda(&:name)) {|i, level| "#{'-' * level} #{i.name}" }, {:include_blank => true} %>
  </p>
  <p><%= f.submit %></p>
<% end %>
