<% title "Categories" %>


<table border="0">
  <tr>
    <th>Name</th>
    <th>Parent</th>
  </tr>
  <% for category in @categories %>
    <tr valign="top" class="<%= 'child' unless category.parent_id.blank? %>">
      <td><%= category.name %></td>
      <td><%= category.parent.name unless category.parent_id.blank? %></td>
      <td><%= link_to "Show", company_category_path(current_company, category), :class => "smallbtn blue smallertxt" %></td>
	  <% if can? :update, category %>
      <td><%= link_to "Edit", edit_company_category_path(current_company, category), :class => "smallbtn blue smallertxt" %></td>
      <td><%= link_to "Destroy", [current_company, category], :confirm => 'Are you sure?', :method => :delete, :class => "smallbtn blue smallertxt" %></td>
	  <% end %>
    </tr>
  <% end %>
</table>
<% if can? :create, category %>
<p><%= link_to "New Category", new_company_category_path(current_company), :class => "smallbtn green" %></p>
<% end %>
