<% title "Category" %>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<p>
  <strong>Parent:</strong>
  <%= @parent_category.name unless @parent_category.blank? %>
</p>

<p>
  <%= link_to "Edit", edit_company_category_path(current_company, @category) %> |
  <%= link_to "Destroy", [current_company, @category], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", company_categories_path %>
</p>
