<%= form_for("user", :url => user_session_path) do |f| %>
<p><%= f.label :username %><br />
  <%= f.text_field :username %></p>

<p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <%= f.submit 'Sign in', :class => "smallbtn green" %>
<% end %>
