<h2><%= title %></h2>
<p>
<% @items = Item.in_orders_with(orders, "InsurancePolicy") %>
<% if !@items.blank? %>
  <% @items.group_by{ |o| o.vendor }.each do |vendor, items| %>
   <%= vendor.name %> <br />Sold:<%= items.count %> <%= number_to_currency(items.collect.sum(&:price)) %><br /><br />
  <% end %>
<p>Total Sold: <%= number_to_currency(@items.collect.sum(&:price)) %></p><br />
<% else %>
  Nothing to report from Policies<br />
<% end %>
</p>