<h2><%= title %></h2>
<p>
<% @items = Item.in_orders_with(orders, "InsurancePolicy") %>
<% @new_policies = @items.only_new_items %>
<% if !@new_policies.blank? %>
  <% @new_policies.group_by{ |o| o.vendor }.each do |vendor, items| %>
   <%= vendor.name %> <br />Sold:<%= items.count %> <%= number_to_currency(items.collect.sum(&:price)) %><br /><br />
  <% end %>
<p>Total Sold: <%= number_to_currency(@new_policies.collect.sum(&:price)) %></p><br />
<% else %>
  Nothing to report from Policies<br />
<% end %>
</p>

<p>
<table width="100%">
	<tr>
		<th>Order #</th>
		<th>Customer Name</th>
		<th>Policy Number</th>
		<th>Payment Type</th>
		<th>Vendor</th>
		<th>Cost</th>
		<th>Sold For:</th>
	</tr>
	<% if !@items.blank? %>
	  <% for item in @items.order("order_id ASC") %>
	    <tr>
			<td><%= item.order_id %></td>
			<td>
				<% unless item.customer_id.blank? || !Customer.exists?(item.customer_id) %>
					<%= item.customer.full_name %>
				  <% else %>
					<%= !item.customer_id.blank? ? "Customer ID #{item.customer_id} Deleted!" : "No Customer Assigned" %>
				  <% end %>
			</td>
			<% policy_exists = InsurancePolicy.exists?(item.itemable_id) %>
			<td>#<%= policy_exists ? item.itemable.policy_number : "Policy deleted!" %></td>
			<td> 
			<% if !item.new_service?  %>
				<%= policy_exists ? "Policy Payment" : "Policy deleted!" %>
			<% else %>
				<%= policy_exists ? item.itemable.policy_type : "Policy deleted!" %>
			<% end %>
			</td>
			<td><%= item.vendor.name %></td>
			<td><%= number_to_currency(item.cost) %></td>
			<td><%= number_to_currency(item.price) %></td>
		</tr>
	  <% end %>
	<tr>
		<td colspan="6" ><hr></td>
	</tr>
	<tr>
		<td colspan="2" class="biggertxt"><b>Total Sold:</b><br />
			<%= number_to_currency(@items.collect.sum(&:price)) %>
		</td>
		<td colspan="2" class="biggertxt"><b>Total Cost:</b><br />
			<%= number_to_currency(@items.collect.sum(&:cost)) %>
		</td>
		<td colspan="2" class="biggertxt"><b>Total Profit:</b><br />
			<%= number_to_currency((@items.collect.sum(&:price) - (@items.collect.sum(&:cost)))) %>
		</td>
	</tr>
	
	<% else %>
	  Nothing here
	<% end %>
</table>	
</p>