
<% title "Company Wide Reports" %>

<%= form_for @search, :url => company_full_reports_path(current_company), :html => {:method => :get}, :remote => true do |f| %>
<div id="full-reports-search-form" class="">
<table border=0 width="100%"> 
	
		<td><b>Sold By:</b> <br />
			<% f.checks :user_id_in, User.all.collect { |f| [f.full_name, f.id]} do |check| %>
			   <%= check.box %> <%= check.label %><br />
			<% end %>
		</td>
	</tr>
</table>
<%= f.submit "Search", :class => "smallbtn  blue" %> <a href="#" id="clear-frf" class="smallbtn blue">Reset Form</a>
<% end %>
	
</div>


<p>
	<div id="full-reports-results"><%= render :partial => 'items' %></div>
	
</p>

